<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162675204194-u7jvi53p1gviuf3qfr09penrj3i75of3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162675204194-u7jvi53p1gviuf3qfr09penrj3i75of3</string>
	<key>API_KEY</key>
	<string>AIzaSyDQDiH0-fN1dWt6FKNVvH9VmhmG7bDCAwI</string>
	<key>GCM_SENDER_ID</key>
	<string>162675204194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NoedeLaCroix.ToDoToday</string>
	<key>PROJECT_ID</key>
	<string>todotoday-37cc5</string>
	<key>STORAGE_BUCKET</key>
	<string>todotoday-37cc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162675204194:ios:c2133fde8bb09ae7d2313b</string>
</dict>
</plist>